.topdiv{
    border: 1px solid blue;
    margin: 10px;
  }
  
  
.maindiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: rgb(107, 107, 233);
  }